body{
    background-color: antiquewhite;
    font-family: 'Comfortaa', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a{
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.main_img{
    height: 600px;
    width: 500px;
    border-radius: 23px;
}

.tg_icon{
    height: 25px;
    width: 25px;
}

button{
    background-color: #C297B8; /* lilac */
    border: none;
    cursor: pointer;
    color: black;
    padding: 20px 40px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 16px;
}

.button:hover{
    background: #FDCFF3;
    border: 0px solid #C297B8;
}
.paragrah{
    font-size: 20px;
}

.anim{
    height: 400px;
    width: 500px;
    border-radius: 15px;
}

.copyright{
    margin-top: 100px;
    font-size: 14px;
}
.copyright1{
    margin-top: 100px;
    font-size: 14px;
}